<!doctype html>
<html lang="en" ng-app="news">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="angular.js"></script>
</head>
<body ng-controller="a">

<input ng-model="query"/>
<select ng-model="sort">
    <option value="name">姓名</option>
    <option value="age">年龄</option>
</select>


<ul>
    <li ng-repeat="p in phone | filter:query | orderBy:sort">
        {{ p.name}}{{p.age}}
    </li>
</ul>

<script>
    var app = angular.module('news', []);
    app.controller('a', function ($scope) {
        $scope.phone = [
            {
                'name': 'a1123',
                'age': 1
            },
            {
                'name': 'b234',
                'age': 2
            }
        ]
    });
</script>
</body>
</html>