* {
    margin: 0;
    padding: 0;
}

.title {
    height: 100px;
    width: 100%;

    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

.content {
    width: 90%;
    margin: 0 auto;

    min-height: 400px;
}

.type-list {
    float: left;
    width: 16%;
    height: auto;

}

.main {
    float: right;
    width: 83%;
    height: 600px;
    overflow-x: auto;

}

.split {
    border: 1px solid #fff;
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f1f1 0%, #e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e3e3e3', GradientType=0); /* IE6-9 */
    box-shadow: -1px -1px 0 #b3b3b3, 1px -1px 0 #b3b3b3, -1px 1px 0 #b3b3b3, 1px 1px 0 #b3b3b3;
    border-radius: 3px;
    padding: 4px 16px 9px 16px;
    text-shadow: -1px -1px 0 #f2f0f0, 1px -1px 0 #f2f0f0, -1px 1px 0 #f2f0f0, 1px 1px 0 #f2f0f0;
    margin: 0 0 10px 0;

    font-size: 23px;
    line-height: normal;
    color: #fd0b0a;
    font-weight: bold;
    margin: 0;
}

.list-item {
    padding: 10px;
    border-bottom: 1px dashed darkgrey;
}

.demo {
    height: 100px;
    width: 100%;
    background: #c7c7c7;

    padding: 20px 0px;
}

.layer {
    height: 50px;
    text-align: right;

}

.name {
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: red;
}

.m-tool {
    text-align: right;
    padding: 10px 40px 10px;
}

label {
    /* IE10+ */
    /*background-image: -ms-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 30%, rgb(41, 137, 216) 70%, rgb(30, 87, 153) 100%);*/

    /* Mozilla Firefox */
    /*background-image: -moz-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 30%, rgb(41, 137, 216) 70%, rgb(30, 87, 153) 100%);*/

    /* Opera */
    /*background-image: -o-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 30%, rgb(41, 137, 216) 70%, rgb(30, 87, 153) 100%);*/

    /* Webkit (Safari/Chrome 10) */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(30, 87, 153)), color-stop(30, rgb(41, 137, 216)), color-stop(70, rgb(41, 137, 216)), color-stop(100, rgb(30, 87, 153)));*/

    /* Webkit (Chrome 11+) */
    /*background-image: -webkit-linear-gradient(top, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 30%, rgb(41, 137, 216) 70%, rgb(30, 87, 153) 100%);*/

    /* W3C Markup */
    /*background-image: linear-gradient(to bottom, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 30%, rgb(41, 137, 216) 70%, rgb(30, 87, 153) 100%);*/
    /*color: white;*/

}

