
* {
    padding: 0px;
    margin: 0;
}

.j-tree {

}

.node-dom {
    font-size:23px;
    line-height:normal;
    color:#fff;
    font-weight: bold;

    margin-top:6px;
    border:1px solid #ef4140;
    background: #d10100; /* Old browsers */
    background: -moz-linear-gradient(top, #d10100 0%, #b70100 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d10100), color-stop(100%, #b70100)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d10100 0%, #b70100 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d10100 0%, #b70100 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d10100 0%, #b70100 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d10100 0%, #b70100 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d10100', endColorstr='#b70100', GradientType=0 ); /* IE6-9 */
    box-shadow:-1px -1px 0 #ae0201, 1px -1px 0 #ae0201, -1px 1px 0 #ae0201, 1px 1px 0 #ae0201;
    text-shadow:none;
    padding:8px 16px 13px 16px;
}

.leaf-container {

    /*display: none;*/
}

.leaf-dom {
    display:block;
    color:#3a3a3a;
    text-decoration:none;
    border:1px solid #fff;
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f1f1 0%, #e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f1f1 0%, #e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e3e3e3', GradientType=0 ); /* IE6-9 */
    box-shadow:-1px -1px 0 #b3b3b3, 1px -1px 0 #b3b3b3, -1px 1px 0 #b3b3b3, 1px 1px 0 #b3b3b3;
    border-radius:3px;
    padding:8px 16px 13px 16px;
    text-shadow:-1px -1px 0 #f2f0f0, 1px -1px 0 #f2f0f0, -1px 1px 0 #f2f0f0, 1px 1px 0 #f2f0f0;
}

.middle-dom{
    display:block;
    color:#3a3a3a;
    text-decoration:none;
    border:1px solid #fff;
    background: #e0e0e0; /* Old browsers */

    box-shadow:-1px -1px 0 #b3b3b3, 1px -1px 0 #b3b3b3, -1px 1px 0 #b3b3b3, 1px 1px 0 #b3b3b3;
    border-radius:3px;
    padding:8px 16px 13px 16px;
    text-shadow:-1px -1px 0 #f2f0f0, 1px -1px 0 #f2f0f0, -1px 1px 0 #f2f0f0, 1px 1px 0 #f2f0f0;
}

.leaf-dom:hover{
    border:1px solid #676b6f;
    background: #2d3237; /* Old browsers */
    background: -moz-linear-gradient(top, #2d3237 0%, #1b1f22 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d3237), color-stop(100%, #1b1f22)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2d3237 0%, #1b1f22 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2d3237 0%, #1b1f22 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2d3237 0%, #1b1f22 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2d3237 0%, #1b1f22 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3237', endColorstr='#1b1f22', GradientType=0 ); /* IE6-9 */
    box-shadow:-1px -1px 0 #2a2a2a, 1px -1px 0 #2a2a2a, -1px 1px 0 #2a2a2a, 1px 1px 0 #2a2a2a;
    color:#fff;
    text-shadow:-1px -1px 0 #191919, 1px -1px 0 #191919, -1px 1px 0 #191919, 1px 1px 0 #191919;
}

.icon {
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 6px;
    float: left;
    right: 5px;
    top: 5px;
    border-style: dashed dashed dashed solid;
    cursor: pointer;
    margin-top: 10px;
}

.collapse {
    border-color: transparent transparent transparent #4c4c4c;
    border-style: dashed dashed dashed solid;
}

.expand {
    border-color: #4c4c4c transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}