.jex-component-viewport {
    width: 100%;
    height: 100%;
    background-color: #300;

}

.jex-component-panel {
    width: 100%;
    height: 100%;
    background: green;
}

.jex-component-titlebar {
    height: 30px;
    width: 100%;
    background: deepskyblue;
}

.app-main {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}
