body, html {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.jex-component-viewport {
    width: 100%;
    height: 100%;
    background-color: #000;

}

.jex-component-panel {
    width: 100%;
    height: 100%;
    background: green;
}

.app-main {
    height: 100%;
    width: 100%;
}





