.jex-component-list {
    background: deepskyblue;
    color: white;
    overflow: scroll;
}

.jex-component-list div:nth-child(7n+1) {
    background: red;
}

.jex-component-list div:nth-child(7n+2) {
    background: green;
}

.jex-component-list div:nth-child(7n+3) {
    background: burlywood;
}

.jex-component-list div:nth-child(7n+4) {
    background: sienna;
}

.jex-component-list div:nth-child(7n+5) {
    background: royalblue;
}

.jex-component-list div:nth-child(7n+6) {
    background: hotpink;
}

.jex-component-list div:nth-child(7n+7) {
    background: greenyellow;
}

.list-item {
    height: 50px;
}