.jex-component-list {
    background: deepskyblue;
    color: black;
    overflow: scroll;
}

.jex-component-list div {
    background-color: #d5d5d5;
    box-shadow: 2px 2px 2px #bbb;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 2px 2px 2px #bbb;
    border-style: solid;
    border-width: thin;
    border-color: #bfbfbf;
    height: 50px;
    line-height: 50px;
}

::selection {
    background-color: red;
}

.jex-component-list div.itemSelected {
    color: red;
    border: 1px solid red;
}