/* tab */
.jex-component-tab {
    width: 100%;
    height: 100%;
    position: relative;

}

.jex-component-tab-bars {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: brown;
    display: -webkit-box;
    -webkit-box-orient: horizontal;

}

.jex-component-tab-item {
    display: -webkit-box;
    -webkit-box-flex: 1;
    background: deepskyblue;
    color: white;
    border: 1px solid white;

}

.jex-component-tab-item-inner {
    text-align: center;
    height: 100%;
    line-height: 50px;
    width: 100%;
}

.jex-component-tab-main, .jex-component-main-item {
    width: 100%;
    height: 100%;

}

.jex-component-main-item {
    position: absolute;
    top: 0;
    left: 0;

}
