.jex-component-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

    width: 100%;
    height: 45px;
    line-height: 45px;

}

.jex-component-text .jex-component-text-label {
    -webkit-flex: 3;
    padding-left: 10px;
}

.jex-component-text .jex-component-text-inner {
    -webkit-flex: 7;
    height: 100%;
    line-height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
}

.jex-component-text .jex-component-text-innertext {
    width: 100%;
    height: 60%;
    -webkit-border-radius: 3px;
}

