.jex-component-titlebar {
    height: 40px;
    line-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    color: white;
    background: -webkit-gradient(linear, 0% 21%, 0% 100%, from(#1E5AB3), to(#1A264F));
    width: 100%;
}


