.jex-component-titlebar {
    height: 40px;
    line-height: 40px;
    display: block;

    vertical-align: middle;
    text-align: center;

    color: white;
    background: -webkit-gradient(linear, 0% 21%, 0% 100%, from(#1E5AB3), to(#1A264F));
    width: 100%;
}


